footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
.social-icons {
/*     display: flex; */
    justify-content: space-evenly;
    background:#232529;
    color:#fff;
}

.social-icons >div{
    display: flex;
    justify-content: space-evenly;
}

.social-icons >div >div{
  flex: 1;
  margin: 10px;
}

.social-icons p {
    font-size: 1.2em;
    font-weight: bold;
}

.social-icons ul {
    list-style-type: none;
    padding: 0;
}

.social-icons ul li {
    margin-bottom: 10px;
}

.social-icons ul li a {
    text-decoration: none;
    color: #fff;
    font-size:18px;
    line-height:21.6px;
    letter-spacing:normal;
}

.social-icons ul li img{
  max-width: 32px;
  height:32px;
  vertical-align:middle;
  margin:0 .5em;
}

.social-icons img {
    width: 48px;
    height: 32px;
}
