footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
.social-icons {
    display: flex;
    justify-content: space-between;
    background:#232529;
}

.social-icons div{
    flex: 3;
    margin: 10px;
}

.social-icons p {
    font-size: 1.2em;
    font-weight: bold;
}

.social-icons ul {
    list-style-type: none;
    padding: 0;
}

.social-icons ul li {
    margin-bottom: 10px;
}

.social-icons ul li a {
    text-decoration: none;
    color: #fff;
}

.social-icons img {
    width: 48px;
    height: 32px;
}
